<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">
    <div class="center">
        <h1>Přihlášení</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">

            <table>
                <tr>
                    <td><p>Uživatelské jméno:<p></td>
                    <td><label><input type="text" name="username"/> </label></td>
                </tr>
                <tr>
                    <td><p>Heslo:</p></td>
                    <td><label><input type="password" name="password"/> </label></td>
                </tr>

            </table>

            <div><input type="submit" value="Sign In"/></div>
        </form>
        </form>
    </div>
</div>
</body>
</html>
