<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trénink Detail</title>
    <link rel="stylesheet" href="../static/css/attendance.css" th:href="@{/css/attendance.css}">
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">

    <div class="nadpis">Účastníci tréninku</div>
    <div class="table-content">

        <table class="horniTabulka">
            <tr>
                <th><p>Den tréninku:</p></th>
                <th><p th:text="${training.trainingDay}"></p></th>
            </tr>
            <tr>
                <td><p>Typ:</p></td>
                <td><p th:text="${training.type}"></p></td>
            </tr>
            <tr>
                <td><p>Začátek:</p></td>
                <td><p th:text="${training.starttime}"></p></td>
            </tr>
            <tr>
                <td><p>Konec:</p></td>
                <td><p th:text="${training.endtime}"></p></td>
            </tr>
            <tr>
                <td><p>Jméno trenéra:</p></td>
                <td><p th:text="${training.user.person.firstname} + ' ' + ${training.user.person.lastname}"></p></td>
            </tr>
            <tr>
                <td><p>Hala:</p></td>
                <td><p th:text="${training.hall.name}"></p></td>
            </tr>
            <tr>
                <td><p>Město:</p></td>
                <td><p th:text="${training.hall.address.city}"></p></td>
            </tr>
            <tr>
                <td><p>Email:</p></td>
                <td><p th:text="${training.user.person.contactInfo.email}"></p></td>
            </tr>
            <tr>
                <td><p>Telefonní číslo:</p></td>
                <td><p th:text="${training.user.person.contactInfo.phone}"></p></td>
            </tr>
            <tr>
                <td><p>Společnost:</p></td>
                <td><p th:text="${training.user.company.name}"></p></td>
            </tr>
        </table>
    </div>
    <div id="assignToTraining">
        <button type="button" class="btn btn-primary assignAttendee" style="display: none">Přihlásit na trénink</button>
    </div>
    <div id="attendance" style="display: none">
        <table id="attend" onmousedown="whichElement(event)">
            <tr id="tableHeader">
                <th style="width: 180px">Jméno</th>
            </tr>
        </table>
    </div>

</div>
</body>
</html>
<script>
    $(document).ready(function () {
        if([[${simple}]]) {
            let assignedOn = [[${assignedOn}]];
            if(!assignedOn) {
                $(".assignAttendee").show()
            } else {
                $("#attendance").show();
                initTable();
            }
        } else {
            $("#attendance").show();
            initTable();
        }
    });

    function initTable () {
        let dates = "[[${trainingDates}]]";
        let validDates = processDates(dates);
        validDates.forEach(function (date) {
            date = date.trim();
            let datePart = date.split("-");
            $("#tableHeader").append("<th class='dateCell'>" + datePart[2] + "/" + datePart[1] + "</th>");
        });
        $.ajax({
            method: "GET",
            url: "/api/v1/attendance/training/" + [[${training.trainingid}]],
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                addToTable(result)
            }
        })
    }

    function addToTable (atts) {
        let attendees = [];
        let keys = [];
        atts.forEach(function (att) {
            if(att.attendee.person.active || getCookie("role") > 2) {
                if (att.attendee.attendeeid == getCookie("attendee") || getCookie("user") !== undefined){
                    if(attendees[att.attendee.person.firstname + "_" + att.attendee.person.lastname] === undefined) {
                        attendees[att.attendee.person.firstname + "_" + att.attendee.person.lastname] = [];
                        keys.push(att.attendee.person.firstname + "_" + att.attendee.person.lastname);
                    }
                    let attObject = [];
                    attObject.push(att.presence);
                    attObject.push(att.attendanceid);
                    attendees[att.attendee.person.firstname + "_" + att.attendee.person.lastname].push(attObject);
                }
            }
        });
        keys.forEach(function (key) {
            let name = key.replace("_", " ");
            let row = "<tr>" +
                        "<td style='width: 180px'>" + name + "</td>";
            attendees[key].forEach(function (presence) {
                row = row + "<td class='presenceCell' name='" + presence[1] + "' " +
                "value='" + presence[0] + "' " + " style='background-color:" + (presence[0] === 0 ? '#D30E09': presence[0] === 1 ? '#FFD600' : '#25D500') + "'></td>";
            });
            row = row + "</tr>";
            $("#attend").append(row);
        })
    }

    function processDates(dates) {
        dates = dates.replace("[", "");
        dates = dates.replace("]", "");
        return dates.split(",");
    }

    function whichElement(e) {
        if(getCookie("attendee") === undefined) {
            let value = e.target.getAttribute("value");
            if (value != 1) {
                if(e.target.getAttribute("class") === "presenceCell"){
                    value = value == 0 ? 2 : 0;
                    e.target.style.backgroundColor = value == 0 ? '#D30E09': value == 1 ? '#FFD600' : '#25D500';
                    e.target.setAttribute("value", value);
                    $.ajax({
                        method: "PUT",
                        url: "/api/v1/attendance/" + e.target.getAttribute("name"),
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(value),
                        success: function () {
                        }
                    })
                }
            }
        }
    }

    $(".assignAttendee").on("click", function () {
        $.ajax({
            method: "POST",
            url: "/dochazka/assignAttendee",
            async: false,
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                "attendeeid" : getCookie("attendee"),
                "trainingid": [[${training.trainingid}]]
                })
        })
    })
</script>
