<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vystoupení</title>
    <link rel="stylesheet" href="../static/css/exhibition.css" th:href="@{/css/exhibition.css}">
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">
    <button type="button1" class="basic-btn" id="addAction"><a href="/vystoupeni/add"> Přidat akci</a></button>
    <div id="jsGrid"></div>
    <div class="loader"></div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        let data = [];
        $.ajax({
            url: "api/v1/action",
            data: "json",
            contentType: "application/json",
            method: "GET",
            success: function (items) {
                for (let i = 0; i < items.length; i++) {
                    let item =
                        {
                            "actionName": "<a href=/action/" + items[i].actionsid + ">" + items[i].actionName + "",
                            "type": items[i].type,
                            "date": items[i].dateAction,
                            "city": items[i].address.city
                        };
                    data.push(item);
                }
                let jsGrid = $("#jsGrid");
                renderJsGrid(data, fields, jsGrid);
                $(".loader").hide();
            }
        });
    });

    var fields = [
        { name: "actionName", type: "text", title: "Jméno", width: 30 },
        { name: "type", type: "text", title: "Typ", width: 30 },
        { name: "date", type: "text", title: "Datum", width: 30 },
        { name: "city", type: "text", title: "Město", width: 30 }
    ];

    function renderJsGrid(items, fields, grid) {
        grid.jsGrid({
            width: "100%",
            height: "100%",

            searching: true,
            sorting: true,

            data: items,

            fields: fields,
            _sortData: function () {
                var a = this._sortFactor(), b = this._sortField;
                b && this.data.sort(function (c, d) {
                    let dbname;
                    let cbname;
                    if(d[b.name].includes("</a>")){
                        dbname = d[b.name].split(">")[1].split("<")[0];
                    } else {
                        dbname = d[b.name];
                    }
                    if(c[b.name].includes("</a>")){
                        cbname = c[b.name].split(">")[1].split("<")[0];
                    } else {
                        cbname = c[b.name];
                    }
                    let temp =  a * b.sortingFunc(cbname, dbname);
                    return temp;
                })
            },
        });
    }
</script>
