<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tréninky Formulář</title>
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">
    <div class="form">
        <form>
            <div class="form-group">
                <label for="name">Název</label>
                <input type="text" class="form-control" id="name" placeholder="A1" required>
            </div>
            <div class="form-group">
                <label for="day">Den konání</label>
                <select type="text" class="custom-select" id="day" required>
                    <option value=0>Pondělí</option>
                    <option value=1>Úterý</option>
                    <option value=2>Středa</option>
                    <option value=3>Čtrvrtek</option>
                    <option value=4>Pátek</option>
                    <option value=5>Sobota</option>
                    <option value=6>Neděle</option>
                </select>
            </div>
            <div class="form-group" id="typeSelect">
                <label for="typeSelect">Typ tréninku</label>
                <select class="custom-select" id="type">
                    <option value=0>Parkour</option>
                    <option value=1>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="startTime">Začátek</label>
                <select class="custom-select" id="startTime" required>
                    <option value=0>12:00</option>
                    <option value=1>12:30</option>
                    <option value=2>13:00</option>
                    <option value=3>13:30</option>
                    <option value=4>14:00</option>
                    <option value=5>14:30</option>
                    <option value=6>15:00</option>
                    <option value=7>15:30</option>
                    <option value=8>16:00</option>
                    <option value=9>16:30</option>
                    <option value=10>17:00</option>
                    <option value=11>17:30</option>
                    <option value=12>18:00</option>
                    <option value=13>18:30</option>
                    <option value=14>19:00</option>
                    <option value=15>19:30</option>
                    <option value=16>20:00</option>
                    <option value=17>20:30</option>
                    <option value=18>21:00</option>
                    <option value=19>21:30</option>
                    <option value=20>22:00</option>
                    <option value=21>22:30</option>
                    <option value=22>23:00</option>
                    <option value=22>23:30</option>
                </select>
            </div>
            <div class="form-group">
                <label for="endTime">Konec</label>
                <select class="custom-select" id="endTime" required>
                    <option value=0>12:00</option>
                    <option value=1>12:30</option>
                    <option value=2>13:00</option>
                    <option value=3>13:30</option>
                    <option value=4>14:00</option>
                    <option value=5>14:30</option>
                    <option value=6>15:00</option>
                    <option value=7>15:30</option>
                    <option value=8>16:00</option>
                    <option value=9>16:30</option>
                    <option value=10>17:00</option>
                    <option value=11>17:30</option>
                    <option value=12>18:00</option>
                    <option value=13>18:30</option>
                    <option value=14>19:00</option>
                    <option value=15>19:30</option>
                    <option value=16>20:00</option>
                    <option value=17>20:30</option>
                    <option value=18>21:00</option>
                    <option value=19>21:30</option>
                    <option value=20>22:00</option>
                    <option value=21>22:30</option>
                    <option value=22>23:00</option>
                    <option value=22>23:30</option>
                </select>
            </div>
            <div class="form-group" id="hallSelect">
                <label for="typeSelect">Typ tréninku</label>
                <select class="custom-select" id="hall">
                    <option value=43>Station Hall</option>
                </select>
            </div>
            <div class="form-group" id="userSelect">
                <label for="typeSelect">Trenér</label>
                <select class="custom-select" id="user">
                </select>
            </div>
            <div class="form-group">
                <label for="startDate">Začátek</label>
                <input type="date" class="form-control date-picker-popup" id="startDate" required>
            </div>
            <div class="form-group">
                <label for="endDate">Konec</label>
                <input type="date" class="form-control date-picker-popup" id="endDate" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary submitForm">Odeslat</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        let preparedUsers = prepareUsers();
        preparedUsers.forEach(function (user, index) {
            $('#user').append(new Option(user, index))
        });

        $(".submitForm").on("click", function () {
            let data = {
                "trainingDay": $('#day option:selected').text(),
                "type" : $('#type').val(),
                "starttime" : $('#startTime option:selected').text(),
                "endtime" : $('#endTime option:selected').text(),
                "userid": $('#user').val(),
                "hallid": $('#hall').val(),
                "name": $("#name").val(),
                "startDate": $("#startDate").val(),
                "endDate": $("#endDate").val()
            };
            console.log(data);
            send(data);
        })
    });

    function prepareUsers() {
        let users = "[[${users}]]";
        users = users.replace("{", "");
        users = users.replace("}", "");
        let userArray = users.split(",");
        let preparedUsers = [];
        userArray.forEach(function (user) {
            let user2 = user.split("=");
            preparedUsers[user2[0].replace(" ", "")] = user2[1];
        });
        return preparedUsers;
    }

    function send(data) {
        $.ajax({
            url: "/api/v1/training",
            method: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(data)
        })
    }
</script>
