<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Docházka</title>
    <link rel="stylesheet" href="../static/css/exhibition.css" th:href="@{/css/exhibition.css}">
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">
    <div class="btnLayout">
    <button type="button" class="btn btn-primary addTraining" style="display: none;"><a href="/dochazka/add">Přidat trénink</a></button>
    </div>
    <div class="loader"></div>
    <div id="jsGrid"></div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        if(getCookie("role") > 2){
            $(".addTraining").show();
        }
        let data = [];
        //Středník chybí schválně
        let availableTrainings = [[${availableTrainings}]]
        $.ajax({
            url: "api/v1/training",
            data: "json",
            contentType: "application/json",
            method: "GET",
            success: function (items) {
                for (let i = 0; i < items.length; i++) {
                    if(getCookie("role") > 1) {
                        let item = fillData(items[i]);
                        data.push(item);
                    } else {
                        if(availableTrainings.includes(items[i].trainingid)){
                            let item = fillData(items[i]);
                            data.push(item);
                        }
                    }
                }
                let jsGrid = $("#jsGrid");
                renderJsGrid(data, fields, jsGrid);
                $(".loader").hide();
            }
        });
    });

    function fillData(item) {
        return {
            "trainingName": "<a href=/dochazka/" + item.trainingid + ">" + item.name + "</a>",
            "trainingDay": item.trainingDay,
            "type": item.type,
            "starttime": item.starttime,
            "endtime": item.endtime,
            "hall": item.hall.name,
            "user": item.user.person.lastname + " " + item.user.person.firstname,
            "year" : item.startDate.split("-")[0]
        };
    }

    var fields = [
        { name: "trainingName", type: "text", title: "Název", width: 30 },
        { name: "trainingDay", type: "text", title: "Den", width: 30 },
        { name: "year", type: "number", title: "Rok", width: 30 },
        { name: "type", type: "text", title: "Typ", width: 30 },
        { name: "starttime", type: "text", title: "Začátek", width: 30 },
        { name: "endtime", type: "text", title: "Konec", width: 30 },
        { name: "hall", type: "text", title: "Hala", width: 40 },
        { name: "user", type: "text", title: "Trenér", width: 40 }
    ];

    function renderJsGrid(items, fields, grid) {
        grid.jsGrid({
            width: "100%",
            height: "100%",

            searching: true,
            sorting: true,

            data: items,

            fields: fields,
            _sortData: function () {
                var a = this._sortFactor(), b = this._sortField;
                b && this.data.sort(function (c, d) {
                    let dbname;
                    let cbname;
                    if (d[b.name].includes("</a>")) {
                        dbname = d[b.name].split(">")[1].split("<")[0];
                    } else {
                        dbname = d[b.name];
                    }
                    if (c[b.name].includes("</a>")) {
                        cbname = c[b.name].split(">")[1].split("<")[0];
                    } else {
                        cbname = c[b.name];
                    }
                    let temp = a * b.sortingFunc(cbname, dbname);
                    return temp;
                })
            },
            onDataLoaded: function () {
                $("#jsGrid").jsGrid("sort", "trainingName");
            }
        });
    }
</script>
