<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="../static/css/profile.css" th:href="@{/css/profile.css}">
</head>
<body>
<div th:include="layout.html"></div>
<span> </span>

<div class="page-content">
    <button type="button" class="btn btn-primary  editButton" style="display: none"><a href="/edit">Editace</a></button>
    <button type="button" class="btn btn-primary deactivateButton" style="display: none"><a class="deactivateLink">Deaktivace</a></button>
    <button type="button" class="btn btn-primary  activateButton" style="display: none"><a class="activateLink">Aktivace</a></button>
    <button type="button" class="btn btn-primary promoteButton" style="display: none"><a class="promoteLink">Udělat managerem</a></button>

    <div class="nadpis">
    <p>Profil</p>
    </div>

    <div class="table-content">

        <table>
            <tr>
                <th><p>Uživatelské jméno:</p></th>
                <th><p th:text="${user.username}"></p></th>
            </tr>
            <tr>
                <td><p>Jméno:</p></td>
                <td><p th:text="${user.person.firstname}"></p></td>
            </tr>
            <tr>
                <td><p>Příjmení:</p></td>
                <td><p th:text="${user.person.lastname}"></p></td>
            </tr>
            <tr>
                <td><p>Název společnosti:</p></td>
                <td><p th:text="${user.company.name}"></p></td>
            </tr>
            <tr>
                <td><p>E-mail:</p></td>
                <td><p th:text="${user.person.contactInfo.email}"></p></td>
            </tr>
            <tr>
                <td><p>Telefon:</p></td>
                <td><p th:text="${user.person.contactInfo.phone}"></p></td>
            </tr>
            <tr>
                <td><p>Role:</p></td>
                <td><p th:text="${user.person.role.name}"></p></td>
            </tr>
        </table>
    </div>

    <div>
        <div class="loader"></div>
        <div id="jsGrid1"></div>
    </div>

    <div>
        <!--TODO-->
        <div id="jsGrid2"></div>
    </div>

</div>
</body>
</html>
<script>
    $(document).ready(function () {
        var peronRole = getCookie("role");
        if(getCookie("user") == [[${user.userid}]]) {
            $(".editButton").show();
        }
        if(peronRole > 2) {
            $(".deactivateLink").attr("href", "/deactivate/" + [[${user.person.personid}]]);
            $(".activateLink").attr("href", "/activate/" + [[${user.person.personid}]]);
            $(".editButton").show();
            if([[${user.person.active}]]) {
                $(".deactivateButton").show();
                $(".activateButton").hide();
            } else {
                $(".deactivateButton").hide();
                $(".activateButton").show();
            }
            if(peronRole === "4") {
                $(".promoteLink").attr("href", "/promote/" + [[${user.userid}]]);
                $(".promoteButton").show();
            }
        }
        $.ajax({
            url: "/api/v1/action",
            data: "json",
            contentType: "application/json",
            method: "GET",
            success: function (items) {
                let data = [];
                let userActions = [[${userActions}]];
                for (let i = 0; i < items.length; i++) {
                    if(userActions.includes(items[i].actionsid)){
                        let actionName = peronRole > 1 ? "<a href=/action/" + items[i].actionsid + ">" + items[i].actionName + "</a>" : items[i].actionName;
                        let item =
                            {
                                "actionName": actionName,
                                "type": items[i].type,
                                "date": items[i].dateAction,
                                "city": items[i].address.city
                            };
                        data.push(item);
                    }
                }
                if(data.length !== 0) {
                    let fields = [
                        { name: "actionName", type: "text", title: "Jméno", width: 30 },
                        { name: "type", type: "text", title: "Typ", width: 30 },
                        { name: "date", type: "text", title: "Datum", width: 30 },
                        { name: "city", type: "text", title: "Město", width: 30 }
                    ];
                    let jsGrid = $("#jsGrid1");
                    renderJsGrid(data, fields, jsGrid);
                }
            }
        });

        $.ajax({
            url: "/api/v1/training",
            data: "json",
            contentType: "application/json",
            method: "GET",
            success: function (items) {
                let item = [];
                for (let i = 0; i < items.length; i++) {
                    if([[${user.userid}]] == items[i].user.userid){
                        let trainingName = peronRole > 1 ? "<a href=/dochazka/" + items[i].trainingid + ">" + items[i].name + "</a>" : items[i].name;
                        let data =
                            {
                                "trainingName": trainingName,
                                "trainingDay": items[i].trainingDay,
                                "type": items[i].type,
                                "starttime": items[i].starttime,
                                "endtime": items[i].endtime,
                                "hall": items[i].hall.name,
                                "user": items[i].user.person.lastname + " " + items[i].user.person.firstname
                            };
                        item.push(data);
                    }
                }
                if (item.length !== 0){
                    let fields = [
                        { name: "trainingName", type: "text", title: "Název", width: 30 },
                        {name: "trainingDay", type: "text", title: "Den", width: 30 },
                        { name: "type", type: "text", title: "Typ", width: 30 },
                        { name: "starttime", type: "text", title: "Začátek", width: 30 },
                        { name: "endtime", type: "text", title: "Konec", width: 30 },
                        { name: "hall", type: "text", title: "Hala", width: 40 },
                        { name: "user", type: "text", title: "Trenér", width: 40 }];
                    let jsGrid = $("#jsGrid2");
                    renderJsGrid(item, fields, jsGrid);
                }
                $(".loader").hide();
            }
        })
    });

    function renderJsGrid(items, fields, grid) {
        grid.jsGrid({
            width: "100%",
            height: "100%",

            searching: true,
            sorting: true,

            data: items,

            fields: fields,
            _sortData: function () {
                var a = this._sortFactor(), b = this._sortField;
                b && this.data.sort(function (c, d) {
                    let dbname;
                    let cbname;
                    if(d[b.name].includes("</a>")){
                        dbname = d[b.name].split(">")[1].split("<")[0];
                    } else {
                        dbname = d[b.name];
                    }
                    if(c[b.name].includes("</a>")){
                        cbname = c[b.name].split(">")[1].split("<")[0];
                    } else {
                        cbname = c[b.name];
                    }
                    let temp =  a * b.sortingFunc(cbname, dbname);
                    return temp;
                })
            },
        });
    }
</script>
