<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uživatelé</title>
    <link rel="stylesheet" href="../static/css/users.css" th:href="@{/css/users.css}">
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">
    <div id="jsGrid"></div>
    <div class="loader"></div>
</div>
</body>
</html>3


<script>
    $(document).ready(function () {
        let clients = [];
        $.ajax({
            url: "api/v1/user",
            data: "json",
            contentType: "application/json",
            method: "GET"
        }).then(function (items) {
            for (let i = 0; i < items.length; i++) {
                console.log(items[i]);
                let client =
                    {
                        "firstname": "<a href=/profil/" + items[i].userid + ">" + items[i].person.firstname + "</a>",
                        "lastname": items[i].person.lastname,
                        "username": items[i].username,
                        "role": items[i].person.role.name,
                        "active": items[i].person.active,
                        "company": items[i].company.name
                    };
                clients.push(client);
            }
            renderJsGrid(clients);
            $(".loader").hide();
        });

    });

    function f(item) {

    }

    function renderJsGrid(clients) {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "100%",

            searching: true,
            sorting: true,
            rowDoubleClick: function (args) {
                console.log(args['userid']);
                window.location = "/profile/" + args.userid;
            },

            data: clients,

            fields: [
                { name: "firstname", type: "text", title: "Jméno", width: 60 },
                { name: "lastname", type: "text", title: "Příjmení", width: 60 },
                { name: "username", type: "text", title: "Uživatelské jméno", width: 60 },
                { name: "role", type: "text", title: "Role", width: 30 },
                { name: "active", type: "checkbox", title: "Aktivní" , width: 20},
                { name: "company", type: "text", title: "Firma", width: 50},
            ]
        });
    }
</script>

