.page-content{
    padding-left: 1em;
    padding-right: 1em;
}

.nadpis {
    font-size: 2.2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    padding-bottom: 0.5em;
    padding-left: 10em;
    padding-top: 0.5em;
}

.table-content{
    margin-left: 17em;
    font-size: large;
}

.horniTabulka p{
    display: inline;
}

table {
    background-color: whitesmoke;
    border-collapse:separate;
    border-radius:10px;
    margin-bottom: 1em;

}

td,th {
    font-weight: normal;
    padding-left: 1.8em;
    padding-right: 1.8em;
    vertical-align: bottom;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

td {
    border-top: 3px solid gray;
}

#attend {
    display: block;
    overflow-x: auto;
    padding-left: 0;
    border-radius:0;

}

#attend td, #attend th {
    border: 3px solid gray;
    /*border-radius: 60px;*/
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#attend td:hover{
    opacity: 0.8;
}

#attendance {
    width: fit-content;
    width: -moz-fit-content;
}





