<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="../static/css/profile.css" th:href="@{/css/profile.css}">
</head>
<body>
<div th:include="layout.html"></div>
<span> </span>

<div class="page-content">
    <button type="button1" class="basic-btn assignUser"><a href="/prihlaska"> Přihláška</a></button>
    <button type="button2" class="basic-btn excuseUser"><a href="/dochazka/excuse">Omluvit</a></button>
    <button type="button3" class="basic-btn pay">Zaplatit</button>
    <button type="button4" class="basic-btn editButton"><a href="/edit">Editace</a></button>
    <button type="button" class="basic-btn deactivateButton"><a class="deactivateLink">Deaktivace</a></button>
    <button type="button" class="basic-btn activateButton"><a class="activateLink">Aktivace</a></button>

    <div class="nadpis">
    <p>Profil</p>
    </div>

    <div class="table-content">

        <table>
            <tr>
                <th><p>ID uživatele:</p></th>
                <th><p th:text="${personid}"></p></th>
            </tr>
            <tr>
                <td><p>Jméno:</p></td>
                <td><p th:text="${attendee.person.firstname}"></p></td>
            </tr>
            <tr>
                <td><p>Příjmení:</p></td>
                <td><p th:text="${attendee.person.lastname}"></p></td>
            </tr>
            <tr>
                <td><p>Pohlaví:</p></td>
                <td><p th:text="${attendee.sex}"></p></td>
            </tr>
            <tr>
                <td><p>Zaplaceno:</p></td>
                <td><p th:text="${attendee.paid} ? 'Ano' : 'NE'"></p></td>
            </tr>
            <tr>
                <td><p>E-mail:</p></td>
                <td><p th:text="${attendee.person.contactInfo.email}"></p></td>
            </tr>
            <tr>
                <td><p>Telefon:</p></td>
                <td><p th:text="${attendee.person.contactInfo.phone}"></p></td>
            </tr>
        </table>
    </div>

    <div>
        <!--TODO-->
        <div class="loader"></div>
        <div id="jsGrid"></div>
    </div>

</div>
</body>
</html>
<script>
    $(document).ready(function () {
        if(getCookie("role") > 2) {
            $(".deactivateLink").attr("href", "/deactivate/" + [[${attendee.person.personid}]]);
            $(".activateLink").attr("href", "/activate/" + [[${attendee.person.personid}]]);
            if([[${attendee.person.active}]]) {
                $(".deactivateButton").show();
                $(".activateButton").hide();
            } else {
                $(".deactivateButton").hide();
                $(".activateButton").show();
            }
        }
        if(getCookie("attendee") != [[${attendee.attendeeid}]] || ![[${attendee.person.active}]]) {
            $(".assignUser").hide();
            $(".excuseUser").hide();
            $(".pay").hide();
            $(".editButton").hide();
        }

        $.ajax({
            url: "/api/v1/training",
            data: "json",
            contentType: "application/json",
            method: "GET",
            success: function (items) {
                let data = [];
                for (let i = 0; i < items.length; i++) {
                    if([[${attendeeTrainings}]].includes(items[i].trainingid)){
                        let item =
                            {
                                "trainingDay": "<a href=/dochazka/" + items[i].trainingid + ">" + items[i].trainingDay + "",
                                "trainingName": items[i].name,
                                "type": items[i].type,
                                "starttime": items[i].starttime,
                                "endtime": items[i].endtime,
                                "hall": items[i].hall.name,
                                "user": items[i].user.person.lastname + " " + items[i].user.person.firstname
                            };
                        data.push(item);
                    }
                }
                let jsGrid = $("#jsGrid");
                renderJsGrid(data, fields, jsGrid);
                $(".loader").hide();
            }
        })
    });


    var fields = [
        { name: "trainingDay", type: "text", title: "Den", width: 30 },
        { name: "trainingName", type: "text", title: "Název", width: 30 },
        { name: "type", type: "text", title: "Typ", width: 30 },
        { name: "starttime", type: "text", title: "Začátek", width: 30 },
        { name: "endtime", type: "text", title: "Konec", width: 30 },
        { name: "hall", type: "text", title: "Hala", width: 40 },
        { name: "user", type: "text", title: "Trenér", width: 40 }
        ];

    $(".pay").on("click", function () {
        $.ajax({
            method: "PUT",
            url: "/api/v1/attendee/pay/" + [[${attendee.attendeeid}]],
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(0)
        })
    });

    function renderJsGrid(items, fields, grid) {
        grid.jsGrid({
            width: "100%",
            height: "100%",

            searching: true,
            sorting: true,

            data: items,

            fields: fields,
            _sortData: function () {
                var a = this._sortFactor(), b = this._sortField;
                b && this.data.sort(function (c, d) {
                    let dbname;
                    let cbname;
                    if(d[b.name].includes("</a>")){
                        dbname = d[b.name].split(">")[1].split("<")[0];
                    } else {
                        dbname = d[b.name];
                    }
                    if(c[b.name].includes("</a>")){
                        cbname = c[b.name].split(">")[1].split("<")[0];
                    } else {
                        cbname = c[b.name];
                    }
                    let temp =  a * b.sortingFunc(cbname, dbname);
                    return temp;
                })
            },

        });
    }


</script>
