<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Omluvenka</title>
    <link rel="stylesheet" href="../static/css/profile.css" th:href="@{/css/profile.css}">
</head>
<body>
<div th:include="layout.html"></div>
<span> </span>

<div class="page-content">

    <div class="nadpis">
        <p>Omluvenka</p>
    </div>
    <form>
        <div class="form-group" id="dateSelect">
            <label for="date">Datum</label>
            <select class="custom-select" id="date">
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary submitForm">Odeslat</button>
        </div>
    </form>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        let attendeeid = getCookie("attendee");
        $.ajax({
            method: "GET",
            url: "/api/v1/attendance/" + attendeeid + "/attendee",
            success: function (items) {
                items.forEach(function (item) {
                    $('#date').append(new Option(item.training.name + " " + item.trainingDate, item.attendanceid))
                })
            }
        })
    });

    $(".submitForm").on("click", function () {
        $.ajax({
            method: "PUT",
            url: "/api/v1/attendance/" + $('#date').val(),
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(1),
            success: function () {
            }
        })
    })
</script>
