<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uživatelé</title>
    <link rel="stylesheet" href="../static/css/users.css" th:href="@{/css/users.css}">
</head>
<body>
<div th:include="layout.html"></div>
<div class="page-content">
    <!--TODO-->
    <div class="loader"></div>
    <div id="jsGrid"></div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        let clients = [];
        $.ajax({
            url: "api/v1/attendee",
            data: "json",
            contentType: "application/json",
            method: "GET"
        }).then(function (items) {
            for (let i = 0; i < items.length; i++) {
                console.log(items[i]);
                let client =
                    {
                        "firstname": "<a href=/profil/attendee/" + items[i].attendeeid + ">" + items[i].person.firstname + "",
                        "lastname": items[i].person.lastname,
                        "sex": items[i].sex === 1 ? "Chlapec" : "Dívka",
                        "active": items[i].person.active,
                        "isPaid": items[i].isPaid
                    };
                clients.push(client);
            }
            renderJsGrid(clients);
            $(".loader").hide();
        });

    });

    function renderJsGrid(clients) {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "100%",

            searching: true,
            sorting: true,

            data: clients,

            fields: [
                { name: "firstname", type: "text", title: "Jméno", width: 60 },
                { name: "lastname", type: "text", title: "Příjmení", width: 60 },
                { name: "sex", type: "text", title: "Pohlaví", width: 30 },
                { name: "active", type: "checkbox", title: "Aktivní" , width: 20},
                { name: "isPaid", type: "checkbox", title: "Zaplaceno" , width: 20},
            ]
        });
    }
</script>

